services:
  tatas-tacos:
    build: .
    container_name: tatas-tacos
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
